<div class="row">

  <div class="col s12">
    <div class="card">
    <div class="card-content aboutme">
        <h4>Trochę więcej o mnie</h4>
        <br/>
        <p>
            Nazywam się Joanna Lamch Jestem programistką od kilkunastu lat, zawsze związana z technologiami firmy Microsoft. 
            Ciągle poszukuję swojego miejsca zarówno w świecie IT/Dev jak i świecie ogółem ;) 
        </p>
        <p>
            Komercyjnie zajmuję się tym czym akuratnio projekt żyje. Prywatnie staram się rozwijać w stronę mobile i backend. 
        </p>
          <!-- 
              Ten blog jest moim sposobem na wykraczanie poza własną strefę komfortu. Staram się pisać jak znajdę coś fajnego, uczę się czegoś nowego lub gdzieś byłam o czym warto wspomnieć, niestety ostatnio mam dziwnie mało wolnego czasu aby pisać ;). 
          -->
          <br/>
          <br/>
          <p>
              Każdy z nas ma podobno wiedzę unikatową.
          </p>
          <p>
              Nie ma drugiej osoby ktora uczestniczyła we wszystkich projektach w których ja uczestniczyłam, nie ma drugiej osoby która czyta, słucha wszystko to co ja.
              Nie ma drugiej osoby która myśli jak ja. A już napewno nie ma drugiej osoby która postrzega świat tak jak ja.
          </p>
          <br/>
          <p>
              Ale czy to wystarczy? Mam kilka pomysłow na prezentacje, na szkolenia, na bloga.
              Ale ciągle znajduję w głębinach internetu dokładnie to co chcę napisać. 
              Kurs o tym o czym ja bym chciała opowiedzieć. Dlaczego moje ma być lepsze niż czyjeś?
          </p>
          <p>
              <p>
                  <a href="http://quotegeek.com/television-quotes/ally-mcbeal/874/">Ally McBeal quote</a>
              </p>
              <p>
                  Georgia: Ally, what makes your problems so much bigger than everybody else’s?
              </p>
              <p>
                  Ally: They’re mine.
              </p>                    
          </p>
          <br/>
          <p>
              Dlatego piszę i mam zamiar pisać, tak często jak jestem w stanie, o tym o czym chcę pisać. 
              <br>A gdzieś powoli będę też mówić :)
          </p>
        </div>
     
    </div>
  </div>
</div>
