<!-- Portfolio Grid Section -->
    <section id="blog" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Z miłości do kodu</h2>
                    <h2 class="section-heading">Z potrzeby przekazywania wiedzy</h2>
                    <h3 class="section-subheading text-muted">I nie tylko do kodu bo piszę również o kobietach w IT i organizowaniu spotkań.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-push-2 text-center portfolio-item">
                        <a href="https://www.youtube.com/c/programistkaikot" target="_blank" class="portfolio-link" data-toggle="modal">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-responsive img-centered" src="img/portfolio/youtubeme.png">
                        </a>                       
                    <div class="portfolio-caption">
                        <h4>YouTube</h4>
                        <p class="text-muted">Gdy nie dało się spotykać pojawiłam się na YouTube i chyba tam już zostanę, zarówno z technicznymi nagraniami jak i moimi opowieściami o życiu. Troche kodu, dużo Azure i plan na dyskusje o życiu</p>
                    </div> 
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-push-2 text-center portfolio-item">
                        <a href="http://www.programistkaikot.pl" target="_blank" class="portfolio-link" data-toggle="modal">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-responsive img-centered" src="img/blog/programistka_i_kot.png">
                        </a>                       
                    <div class="portfolio-caption">
                        <h4>Blog: Programistka i Kot</h4>
                        <p class="text-muted">Polsko i angielsko języczne wpisy na tematy technologiczne, oraz dużo informacji o mnie i o inicjatywach w których biorę udział.
                         W internetach od dawna, ostatnio coraz więcej nowości.</p>
                    </div>
                </div>
            </div>    
        </div>
    </section>
