<div class="row">
    <!-- <div class="col s2"></div> -->
    <div class="col s8 m4">
        <div class="card large">
            <div class="card-image" >
                <a href="https://slaskagrupamicrosoft.github.io" target="_blank">
                    <img class="img-portfolio img-responsive" src="assets/images/LOGO_SGM_print-100.png">
                </a>          
            </div>            
            <div class="card-action">
                <a href="https://slaskagrupamicrosoft.github.io" target="_blank">
                    <span class="card-title grey-text text-darken-4">Śląska Grupa Microsoft<i class="material-icons right">more_vert</i></span>
                    <p>
                        Grupa entuzjastów technologii z koszyka produktów Microsoft. 
                        Spotykamy się co miesiąc wymieniając się wiedzą i doświadczeniami z lokalnego rynku IT.
                    </p>
                </a>      
            </div>
        </div>
    </div>
<!--     
    <div class="col s2"></div>
</div>

<div class="row"> -->
    <div class="col s12 m4">
        <div class="card large">
                <div class="card-image" >
                    <a href="https://gruba.it/" target="_blank">
                        <img class="img-portfolio img-responsive" src="assets/images/community/grubait.jpeg">
                    </a>          
                </div>            
                <div class="card-action">
                    <a href="https://gruba.it/" target="_blank">
                        <span class="card-title grey-text text-darken-4">Gruba.IT<i class="material-icons right">more_vert</i></span>
                        <p>
                                Łączymy ludzi w IT.</br>
                                Jesteśmy fundacją non-profit, którą tworzą członkowie społeczności IT na Śląsku. Naszą misją jest pomóc ludziom w naszym rejonie rozwijać się, tworzyć wartościowe inicjatywy i poszerzać sieć kontaktów.
                        </p>
                    </a>      
                </div>
        </div>
    </div>
    <div class="col s12 m4">
            <div class="card large">
                    <div class="card-image" >
                        <a href="https://womenintechnology.pl/category/spotkania/spotkania-katowice/" target="_blank">
                            <img class="img-portfolio img-responsive" src="assets/images/community/wit.png">
                        </a>          
                    </div>            
                    <div class="card-action">
                        <a href="https://womenintechnology.pl/category/spotkania/spotkania-katowice/" target="_blank">
                            <span class="card-title grey-text text-darken-4">Women in Techonlogy Katowice<i class="material-icons right">more_vert</i></span>
                            <p>
                                    Women In Technology to społeczność kobiet, które pracują w technologiach lub je tworzą. Spotkania grupy odbywają się od 2009 r, aktualnie we Wrocławiu,
Katowicach, Warszawie, Lublinie, Poznaniu i Krakowie. Jesteśmy nieformalną grupą kobiet, które w swoim wolnym czasie spotykają się w celu wymiany doświadczeń, wiedzy i opinii.
                            </p>
                        </a>      
                    </div>
            </div>
        </div>
</div>