<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Kontakt </h2>
                    <h3 class="section-subheading text-muted">Pisz jeśli masz taką potrzebę</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a href="mailto:{{ site.resume_contact_email }}" class="btn btn-xl" itemprop="email">Send messege</a>
                </div>
            </div>
        </div>
    </section>
