<!-- Portfolio Grid Section -->
    <section id="notcode" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nie samym IT człowiek żyje</h2>                    
                    <h3 class="section-subheading text-muted">Odkryłam swoje hobby a potem wpadłam po uszy do króliczej nory. Z klawiatur wynikły wydruki 3D i lutowanie. Tak to się kręci</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-push-2 text-center portfolio-item">
                        <a href="https://jlamch.net/mechkeyboards" target="_blank" class="portfolio-link" data-toggle="modal">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-responsive img-centered" src="img/about/keyboard.png">
                        </a>                       
                    <div class="portfolio-caption">
                        <h4>Klawiatury mechaniczne</h4>
                        <p class="text-muted">Mam dziesiątki (naprawdę) klawiatur w różnych konfiguracjach i układach. Chętnie pokazuję i opowiadam ;)</p>
                    </div> 
                </div>
            </div>            
        </div>
    </section>
