<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Speaking</h2>
                    <h3 class="section-subheading text-muted">Moje wystąpienia.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/speaking/webassembly_language_white_with_fiolet.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">WebAssembly and&nbsp;.NET</h4>
                                    <h4>Spring 2019</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        WebAssembly będą następną dużą rzeczą w świecie IT. 
                                        Już teraz nie tylko jest o nich głośno ale zaczynają zmieniać oblicze aplikacji webowych.  
                                        <br/>
                                        Aplikacje webowe to przecież JavaScrip co to ma z .NETem i C# wspólnego?
                                        <br> Microsoft eksperymentuje z razorem w przeglądarce czyli Blazor'em. 
                                        Jednak nie tylko Blazor możliwy jest do uruchomienia jako WebAssembly, mamy też Ooui oraz Uno, a wszystko to oparte na Mono.
                                        
                                        Czyli .NET w przeglądarce i WebAssembly w pigułce.   
                                    </p>
                                    <p class="text-muted text-spaced-top">
                                        <a href="https://www.facebook.com/groups/bstoknet/"><b>2019-06-19</b>; Białostocka Grupa .NET</a>                     
                                    </p> 
                                    <p class="text-muted text-spaced-top">
                                        <a href="https://www.meetup.com/KGD-NET/events/261623376/"><b>2019-06-05</b>; Krakowska Grupa Developerów .NET</a>                     
                                    </p> 
                                     <p class="text-muted text-spaced-top">
                                        <a href="https://www.meetup.com/pl-PL/wrocnet/events/260971332/?isFirstPublish=true"><b>2019-05-21</b>; WrocNet on MeetUp</a><br/>
                                        <a href="https://www.facebook.com/events/423256621564538/">WrocNet on Facebook</a>          
                                        <a href="assets/content-files/WebAssembly-wrocnet.pdf"><i class="fas fa-file-powerpoint"></i> Prezentacja</a>                              
                                    </p>
                                    <p class="text-muted text-spaced-top">
                                        <a href="https://4developers.org.pl/lecture_warszawa/#id=51905"><b>2019-04-08</b>; 4 Developers Warszawa</a>
                                    </p>
                                    <p class="text-muted text-spaced-top">
                                            <a href="assets/content-files/WebAssembly-4devWawa.pdf"><i class="fas fa-file-powerpoint"></i> Prezentacja</a>                                            
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li >
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/speaking/webassembly_js_language_white_with_fiolet.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">WebAssembly. The&nbsp;end&nbsp;of&nbsp;JavaScript?</h4>
                                    <h4>2019-03-20</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Webassembly? Coś słyszałem.<br/>
                                        Niektórzy mówią że to będzie "the next big thing", zmiana jak piszemy aplikacje webowe.<br/>
                                        Ale czy na pewno? Co to webassembly, jak działa? Czy JavaScript zostanie zastąpiony przez inne języki?<br/>
                                        Jak zamieniają się przeglądarki aby nadążyć za zmianą.
                                    </p>
                                    <p class="text-muted text-spaced-top">
                                        <a href="https://www.facebook.com/events/1946301858801789/permalink/1958805340884774/">
                                            <b>2019-03-20</b>; Meet.JS Katowice #36
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/speaking/witPanel.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Czy IT to Twoja bajka? Moderacja panelu dyskusyjnego.</h4>
                                    <h4>2019-03-13</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Czy IT to Twoja bajka? Panel dyskusyjny na 
                                        dzień kobiet przy współorganizacji Women in Technology Katowice, Women Techmakers, Gruba.IT, Accenture.
                                    </p>
                                    <p class="text-muted text-spaced-top">
                                        Za siedmioma górami, za siedmioma rzekami całkiem niedawno temu była sobie dziewczynka, która od zawsze wiedziała że jest inna niż wszystkie… 
                                        <br/>
                                        Zamknięta w wieży odpracowujesz nadgodziny, czy może pracujesz z siedmioma niesfornymi kolegami? Weź udział w naszym spotkaniu i podziel się swoją historią lub tylko posłuchaj innych! 
                                        Specjalnie z okazji dnia kobiet zapraszamy wszystkie Panie na panel dyskusyjny w trzech blokach: rekrutacja, zarobki, praca codzienna. 
                                        <br/>
                                        Wśród naszych gości:
                                        Weronika Lipus, Janina Adamiec, Olga Stefaniuk, Justyna Kasprowska, Joanna Gembal, Joanna Lamch, Kamila Brylewska 
                                        <br/>
                                        Poznaj specjalistki z branży IT, posłuchaj o ich doświadczeniach (słodkich i gorzkich), wymieniaj się doświadczeniami.
                                    </p>
                                    <p class="text-muted text-spaced-top">
                                        <a href="https://www.facebook.com/events/504537293407011/?active_tab=about">
                                            <b>2019-03-13</b>; Czy IT to Twoja bajka? 
                                        </a>
                                    </p>
                                    <p class="text-muted text-spaced-top">
                                        <a href="https://www.programistkaikot.pl/2019/04/zorganizowac-wasny-pomys-eventu.html">
                                            <i class="fas fa-book-open"></i> Relacja z panelu                                            
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/speaking/webassembly_language_white_with_fiolet.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">WebAssembly and&nbsp;.NET</h4>
                                    <h4>Fall 2018</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        WebAssembly będą następną dużą rzeczą w świecie IT. 
                                        Już teraz nie tylko jest o nich głośno ale zaczynają zmieniać oblicze aplikacji webowych.  
                                        <br/>
                                        Aplikacje webowe to przecież JavaScrip co to ma z .NETem i C# wspólnego?
                                        <br> Microsoft eksperymentuje z razorem w przeglądarce czyli Blazor'em. 
                                        Jednak nie tylko Blazor możliwy jest do uruchomienia jako WebAssembly, mamy też Ooui oraz Uno, a wszystko to oparte na Mono.
                                        Czyli .NET w przeglądarce i WebAssembly w pigułce.
                                    </p>
                                    <p class="text-muted text-spaced-top">
                                        <a href="https://www.meetup.com/%C5%9Al%C4%85ska-Grupa-Microsoft-Meetup/events/258788053/"><b>2019-02-26</b>; Śląska Grupa Microsoft:<br/> ŚGMS#22: Organizatorzy na Dwulecie. Q#, WebAssemby & Toyota</a>
                                    </p>
                                    <p class="text-muted text-spaced-top">
                                        <a href="http://dotnetconf.pl/Agenda"><b>2018-11-17</b>; DotNet Conf PL</a><br/>
                                        <a href="https://youtu.be/kAGZDaxVSvY"><i class="fab fa-youtube"></i> Nagranie</a>
                                    </p>
                                    <p class="text-muted text-spaced-top">
                                        <a href="https://katowice.4developers.org.pl/bio.html#id=35394"><b>2018-11-06</b>; 4 Developers Katowice</a><br/>
                                        <a href="https://www.youtube.com/watch?v=kTZHbKHNRUY"><i class="fab fa-youtube"></i> Nagranie</a>
                                    </p>
                                    <p class="text-muted text-spaced-top">
                                        <a href="https://www.slideshare.net/FedraJL/webassembly-and-net"><i class="fas fa-file-powerpoint"></i> Slide Share</a>
                                    </p>                                   
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/speaking/devops.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Just a bit about DevOps on VSTS</h4>
                                    <h4>2017-11-02 ŚGMS</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted text-spaced-top">
                                        O DevOpsie z wykorzystaniem&nbsp;VSTSa.
                                    </br> O co cały szum ostatnimi czasy, nowe słowo 'devops' dlaczego programista powinien wiedzieć o co biega i trochę o tym jak 
                                    MS wspiera developerów - trochę nowości, trochę nerwów, trochę dobra.                            
                                    </p>
                                    <p class="text-muted text-spaced-top">
                                        <a href="https://www.meetup.com/%C5%9Al%C4%85ska-Grupa-Microsoft-Meetup/events/244374171/"><b>2017-11-02</b>; Śląska Grupa Microsoft: VII Spotkanie</a>
                                    </p>
                                    <p class="text-muted">
                                        <a href="https://www.youtube.com/watch?v=XwHqPiRUBi4&t=678s"><i class="fab fa-youtube"></i> Nagranie</a>
                                    </p>
                                    <p class="text-muted">
                                        <a href="https://www.slideshare.net/slideshow/embed_code/key/uaWGvWn01WAChs"><i class="fas fa-file-powerpoint"></i> Slide Share</a>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <!-- <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </section>