<!-- speaking Section -->
<section id="speakingshort">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">       
        <h2 class="section-heading">Speaking</h2>
        <h3 class="section-subheading text-muted">Moje wystąpienia. Nie tylko wystąpienia publiczne i pokazywanie, się liczy. Wana jest te organizacja i pomaganie przy organizacji wydarzeń.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-push-2 text-center portfolio-item">
        <a href="{{ "/speaking.html" | prepend: site.baseurl }}" target="_blank" class="portfolio-link" data-toggle="modal">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-responsive img-centered" src="img/about/mespeaking.jpeg">
        </a>       
      </div>
    </div>
  </div>
</section>