<!-- speaking Section -->
    <section id="speaking">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Speaking</h2>
                    <h3 class="section-subheading text-muted">Moje wystąpienia. Nie tylko wystąpienia publiczne i pokazywanie się liczy. Ważna jest też organizacja wydarzeń.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                    <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/speaking/stres-pies-i-wypalenie.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Stres, pies i wypalenie</h4>
                                    <h5>2019-11-25 Segfault Unconference</h5>                                  
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                            Przychodzi taki czas, gdy poznajemy, że żyjemy po bólu przy wstawaniu. Jednak nie ma się co przejmować, to minie. Piach wszystko wyciągnie.
                                            W IT tego bólu bywa nawet więcej. Ciągle pędzimy, coraz częściej upadając, kolekcjonujemy odznaki porażek. W ramach chwili zatrzymania i oddechu posłuchacie kilku gorzkich słów o stresie, wypaleniu i depresji.
                                    </p>
                                        <p class="text-muted text-spaced-top">
                                        <a href="https://segfault.events/sites/krakow2019/abstracts/pies-stres-i-wypalenie/"><b>2019-11-25</b>; Segfault Unconference</a><br/>
                                        <!-- <a href="assets/content-files/WebAssembly-wrocnet.pdf"><i class="fas fa-file-powerpoint"></i> Prezentacja</a>                               -->
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/speaking/webassembly_language_white_with_fiolet.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">WebAssembly and&nbsp;.NET</h4>
                                    <h5>2019-11-21 WG.NET 130</h5>                                  
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        WebAssembly będą następną dużą rzeczą w świecie IT. 
                                        Już teraz nie tylko jest o nich głośno ale zaczynają zmieniać oblicze aplikacji webowych.  
                                        Aplikacje webowe to przecież JavaScrip co to ma z .NETem i C# wspólnego?
                                        Microsoft eksperymentuje z razorem w przeglądarce czyli Blazor'em. 
                                        Jednak nie tylko Blazor możliwy jest do uruchomienia jako WebAssembly, mamy też Ooui oraz Uno, a wszystko to oparte na Mono.                                        
                                        Czyli .NET w przeglądarce i WebAssembly w pigułce.   
                                    </p>
                                     <p class="text-muted text-spaced-top">
                                        <a href="https://www.meetup.com/WG-NET/events/266338324/?rv=ea1_v2&_xtd=gatlbWFpbF9jbGlja9oAJDIwYmU5NjcxLTIzZTItNGEyOC1hZDlkLWQ2N2IwNDExNjg3Ng"><b>2019-11-21</b>; WG.NET on MeetUp</a><br/>
                                        <!-- <a href="assets/content-files/WebAssembly-wrocnet.pdf"><i class="fas fa-file-powerpoint"></i> Prezentacja</a>                               -->
                                    </p>
                                </div>
                            </div>
                        </li>                       
                        <li >
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/speaking/webassembly_end_of_js.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">WebAssembly. The&nbsp;end&nbsp;of&nbsp;JavaScript?</h4>
                                    <!-- <h5>2019-12-07 InfoMEET Katowice</h5> -->
                                    <h5>2019-10-21 4 Developers Katowice</h5>
                                    <h5>2019-10-01 4 Developers Kraków</h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Webassembly? Coś słyszałem.<br/>
                                        Ale po co to komu, skoro jest JavaScript.<br/>
                                        Niektórzy mówią, że to będzie "the next big thing", zmiana jak piszemy aplikacje webowe. Ale czy na pewno? Co to webassembly, jak działa?
                                        Czy JavaScript zostanie zastąpiony przez inne języki? 
                                        Jak zamieniają się przeglądarki aby nadążyć za zmianą.<br/>
                                        Ale świat przeglądarek to za mało, WebAssemby ma większe plany.
                                    </p>                                    
                                    <!-- <p class="text-muted text-spaced-top">
                                        <a href="https://www.infomeet.pl/prelegenci/joanna-lamch/">
                                            <b>2019-12-07 InfoMEET Katowice</b>; 
                                        </a>
                                    </p> -->
                                    <p class="text-muted text-spaced-top">
                                        <a href="https://4developers.org.pl/lecture_katowice_2019/#id=55612">
                                            <b>2019-10-21</b>; 4 Developers Katowice
                                        </a>
                                    </p>
                                    <p class="text-muted">
                                        <a href="https://www.youtube.com/watch?v=8V5HyDGoQYE"><i class="fab fa-youtube"></i> Nagranie</a>
                                    </p>
                                    <p class="text-muted text-spaced-top">
                                        <a href="https://4developers.org.pl/lecture_krakow_2019/#id=55191">
                                            <b>2019-10-01</b>; 4 Developers Kraków
                                        </a>
                                    </p>
                                    <p class="text-muted text-spaced-top">
                                        <a href="assets/content-files/WebAssembly-theendofJS-4dev.pptx"><i class="fas fa-file-powerpoint"></i> Prezentacja</a>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted" >
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/speaking/azureiotworkshop.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Azure IoT Workshop</h4>
                                    <h5>2020-01-11 DevWarsztaty Kraków</h5>
                                    <h5>2019-10-09 Microsoft Azure User Group Poland Wrocław</h5>
                                    <h5>2019-09-28 ŚGMS #29</h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Fascynujący świat Internet of Things jest tak ogromny, że nie da się go ująć w jednej sesji. 
                                        Ale da się rozpocząć przygodę na jedych warsztatach. Przedstawienie IoT Hub, architektury referencyjnej, 
                                        pobieżne przejrzenie paru gotowych rozwiązań i interakcja z MXChip IoT DevKit.
                                    </p>
                                    <p class="text-muted text-spaced-top">
                                        <a href="https://http://jlamch.net/AzureIoTWorkshop/">
                                            <i class="fas fa-microchip"></i> Strona domowa warsztatów                                    
                                        </a>                            
                                    </p>
                                    <p class="text-muted text-spaced-top">
                                        Dwa sprawdzone sklepy z DevKitami:
                                    </p>
                                    <p class="text-muted text-spaced-top">
                                        <a href="https://pl.rs-online.com/web/p/products/1845096/">
                                            <i class="fas fa-shopping-cart"></i> Droższy ale dostarczony na drugi dzień.
                                        </a>	
                                    	</p>
                                    <p class="text-muted text-spaced-top">
                                        <a href="https://www.elfadistrelec.pl/pl/zestaw-deweloperski-az3166-iot-seeed-studio-102990944/p/30135126">
                                            <i class="fas fa-shopping-cart"></i> Najtańszy, ale wysyłka około dwóch tygodni, ponieważ wysyłka jest nie z Polski.
                                        </a>		
                                    </p>
                                    <p class="text-muted text-spaced-top">
                                        <!-- <a href="https://www.meetup.com/%C5%9Al%C4%85ska-Grupa-Microsoft-Meetup/events/264427232/"> -->
                                            <b>2019-12-07</b>; Kraków DevWarsztaty
                                        <!-- </a> -->
                                       
                                    </p>             
                                    <p class="text-muted text-spaced-top">
                                        <a href="https://www.eventbrite.com/e/wro-azure-workshop-wrocaw-4-iot-z-joanna-lamch-registration-76411838867?fbclid=IwAR1TvgVJJvrA6zYEuNVCKpyjHfbBZ6qCajP48f4AMxkfKLkGrR8-ZsjyGqI">
                                            <b>2019-10-09</b>; Wrocław: Microsoft Azure User Group Poland
                                        </a>
                                      
                                    </p>
                                    <p class="text-muted text-spaced-top">
                                        <a href="https://www.meetup.com/%C5%9Al%C4%85ska-Grupa-Microsoft-Meetup/events/264427232/">
                                            <b>2019-09-28</b>; Śląska Grupa Microsoft + DevWarsztaty
                                        </a>
                                        <p class="text-muted text-spaced-top">
                                            <a href="assets/content-files/IoTOnAzure-KrkAzureGroup.pptx"><i class="fas fa-file-powerpoint"></i> Prezentacja</a>
                                        </p>
                                    </p>
                                    <!-- <p class="text-muted text-spaced-top">
                                        <a href="https://4developers.org.pl/lecture_krakow_2019/#id=55191">
                                            <b>2019-10-01</b>; 4 Developers Kraków
                                        </a>
                                    </p> -->
                                </div>
                            </div>
                        </li>                      
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/speaking/azureiot.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Internet of Things on Azure</h4>
                                    <h5>2019-12-02 Girls in Cloud</h5>
                                    <h5>2019-10-04 DotNetConf.pl</h5>
                                    <h5>2019-09-11 Microsoft Azure User Group Poland Kraków</h5>
                                    <h5>2019-09-10 ŚGMS #28</h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                            W roku 2020 będzie 4 razy więcej podłączonych urządzeń niż ludzi na świecie.<br/>
                                            To ogromny rynek dla nowych projektów i nowych umiejętności.
                                            Azure proponuje kilka gotowych komponentów oraz pokazuje jak takie projekty realizować. 
                                            Opowiem o architekturze referencyjnej i klockach do jej zbudowania. Rzucę trochę światła na IoT w oparciu o chmurę Microsoft
                                    </p>
                                      <!-- <p class="text-muted text-spaced-top">
                                        <a href="https://www.facebook.com/girlsintechpoland/">
                                            <b>2019-12-02</b>; Girls in Cloud
                                        </a>
                                        
                                        <p class="text-muted text-spaced-top">
                                                <a href="assets/content-files/IoTOnAzure-dotnetconf.pptx"><i class="fas fa-file-powerpoint"></i> Prezentacja</a>                                            
                                            </p>
                                    </p> -->
                                    <p class="text-muted text-spaced-top">
                                        <a href="https://dotnetconf.pl/">
                                            <b>2019-10-04</b>; DotNetConf.pl
                                        </a>
                                        <p class="text-muted text-spaced-top">
                                                <a href="assets/content-files/IoTOnAzure-dotnetconf.pptx"><i class="fas fa-file-powerpoint"></i> Prezentacja</a>                                            
                                            </p>
                                    </p>
                                    <p class="text-muted text-spaced-top">
                                        <a href="https://www.meetup.com/Microsoft-Azure-Users-Group-Poland/events/263827848/">
                                            <b>2019-09-11</b>; Microsoft Azure User Group Poland Kraków
                                        </a>
                                        <p class="text-muted text-spaced-top">
                                            <a href="assets/content-files/IoTOnAzure-WorkshopSGMSDevWarsztatyKato.pptx"><i class="fas fa-file-powerpoint"></i> Prezentacja</a>                                            
                                        </p>
                                    </p>
                                    <p class="text-muted text-spaced-top">
                                        <a href="https://www.meetup.com/%C5%9Al%C4%85ska-Grupa-Microsoft-Meetup/events/264427222/">
                                            <b>2019-09-10</b>; Śląska Grupa Microsoft
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li >
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/speaking/syndrom_oszusta_mini.jpg" alt="syndrom oszusta">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Syndrom oszusta. Organizacja wydarzenia.</h4>
                                    <h5>2019-05-27</h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                       <b> Organizacja wydarzenia:<br/></b>
                                        Większość swoich sukcesów w pracy i nauce uważasz za przypadek? Swoją pozycję najwyraźniej osiągnąłeś jedynie dzięki łutowi szczęścia? Twoi współpracownicy ewidentnie mają lepsze kwalifikacje niż ty? Boisz się, że kiedyś ktoś odkryje, że w rzeczywistości jesteś niekompetentny?
                                        <br/>
                                        Syndrom Oszusta: czy dotyczy także Ciebie? Czym właściwie jest ten syndrom? Czym się objawia oraz jak sobie z nim radzić?
                                        <br/>
                                        Wykład i warsztaty poprowadzi Anita Przybył.
                                    </p>
                                    <p class="text-muted text-spaced-top">
                                        <a href="https://www.facebook.com/events/2249523891783805/">
                                             Wydarzenie na Facebooku
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/speaking/webassembly_language_white_with_fiolet.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">WebAssembly and&nbsp;.NET</h4>
                                    <h5>2019-06-05 Krakowska Grupa Developerów .NET 119</h5>                                    
                                    <h5>2019-05-21 WrocNet 118</h5>                                    
                                    <h5>2019-04-08 4 Developers Warszawa</h5>                                    
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        WebAssembly będą następną dużą rzeczą w świecie IT. 
                                        Już teraz nie tylko jest o nich głośno ale zaczynają zmieniać oblicze aplikacji webowych.  
                                        <br/>
                                        Aplikacje webowe to przecież JavaScrip co to ma z .NETem i C# wspólnego?
                                        <br> Microsoft eksperymentuje z razorem w przeglądarce czyli Blazor'em. 
                                        Jednak nie tylko Blazor możliwy jest do uruchomienia jako WebAssembly, mamy też Ooui oraz Uno, a wszystko to oparte na Mono.
                                        
                                        Czyli .NET w przeglądarce i WebAssembly w pigułce.   
                                    </p>
                                    <p class="text-muted text-spaced-top">
                                        <a href="https://www.meetup.com/KGD-NET/events/261623376/"><b>2019-06-05</b>; Krakowska Grupa Developerów .NET</a>                     <br/>         
                                        <a href="assets/content-files/WebAssembly-krakow.pdf"><i class="fas fa-file-powerpoint"></i> Prezentacja</a>                              
                                    </p> 
                                     <p class="text-muted text-spaced-top">
                                        <a href="https://www.meetup.com/pl-PL/wrocnet/events/260971332/?isFirstPublish=true"><b>2019-05-21</b>; WrocNet on MeetUp</a><br/>
                                        <a href="https://www.facebook.com/events/423256621564538/">WrocNet on Facebook</a> <br/>         
                                        <a href="assets/content-files/WebAssembly-wrocnet.pdf"><i class="fas fa-file-powerpoint"></i> Prezentacja</a>                              
                                    </p>
                                    <p class="text-muted text-spaced-top">
                                        <a href="https://4developers.org.pl/lecture_warszawa/#id=51905"><b>2019-04-08</b>; 4 Developers Warszawa</a>
                                    </p>
                                    <p class="text-muted text-spaced-top">
                                            <a href="assets/content-files/WebAssembly-4devWawa.pdf"><i class="fas fa-file-powerpoint"></i> Prezentacja</a>                                            
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li >
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/speaking/webassembly_js_language_white_with_fiolet.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">WebAssembly. The&nbsp;end&nbsp;of&nbsp;JavaScript?</h4>
                                    <h5>2019-03-20 Meet.JS Katowice #36</h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Webassembly? Coś słyszałem.<br/>
                                        Niektórzy mówią że to będzie "the next big thing", zmiana jak piszemy aplikacje webowe.<br/>
                                        Ale czy na pewno? Co to webassembly, jak działa? Czy JavaScript zostanie zastąpiony przez inne języki?<br/>
                                        Jak zamieniają się przeglądarki aby nadążyć za zmianą.
                                    </p>
                                    <p class="text-muted text-spaced-top">
                                        <a href="https://www.facebook.com/events/1946301858801789/permalink/1958805340884774/">
                                            <b>2019-03-20</b>; Meet.JS Katowice #36
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/speaking/witPanel.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Czy IT to Twoja bajka? Moderacja panelu dyskusyjnego.</h4>
                                    <h5>2019-03-13</h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Czy IT to Twoja bajka? Panel dyskusyjny na 
                                        dzień kobiet przy współorganizacji Women in Technology Katowice, Women Techmakers, Gruba.IT, Accenture.
                                    </p>
                                    <p class="text-muted text-spaced-top">
                                        Za siedmioma górami, za siedmioma rzekami całkiem niedawno temu była sobie dziewczynka, która od zawsze wiedziała że jest inna niż wszystkie… 
                                        <br/>
                                        Zamknięta w wieży odpracowujesz nadgodziny, czy może pracujesz z siedmioma niesfornymi kolegami? Weź udział w naszym spotkaniu i podziel się swoją historią lub tylko posłuchaj innych! 
                                        Specjalnie z okazji dnia kobiet zapraszamy wszystkie Panie na panel dyskusyjny w trzech blokach: rekrutacja, zarobki, praca codzienna. 
                                        <br/>
                                        Wśród naszych gości:
                                        Weronika Lipus, Janina Adamiec, Olga Stefaniuk, Justyna Kasprowska, Joanna Gembal, Joanna Lamch, Kamila Brylewska 
                                        <br/>
                                        Poznaj specjalistki z branży IT, posłuchaj o ich doświadczeniach (słodkich i gorzkich), wymieniaj się doświadczeniami.
                                    </p>
                                    <p class="text-muted text-spaced-top">
                                        <a href="https://www.facebook.com/events/504537293407011/?active_tab=about">
                                            <b>2019-03-13</b>; Czy IT to Twoja bajka? 
                                        </a>
                                    </p>
                                    <p class="text-muted text-spaced-top">
                                        <a href="https://www.programistkaikot.pl/2019/04/zorganizowac-wasny-pomys-eventu.html">
                                            <i class="fas fa-book-open"></i> Relacja z panelu                                            
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/speaking/webassembly_language_white_with_fiolet.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">WebAssembly and&nbsp;.NET</h4>
                                    <h5>2019-02-26 ŚGMS #22</h5>
                                    <h5>2018-11-17 DotNet Conf PL</h5>
                                    <h5>2018-11-06 4 Developers Katowice</h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        WebAssembly będą następną dużą rzeczą w świecie IT. 
                                        Już teraz nie tylko jest o nich głośno ale zaczynają zmieniać oblicze aplikacji webowych.  
                                        <br/>
                                        Aplikacje webowe to przecież JavaScrip co to ma z .NETem i C# wspólnego?
                                        <br> Microsoft eksperymentuje z razorem w przeglądarce czyli Blazor'em. 
                                        Jednak nie tylko Blazor możliwy jest do uruchomienia jako WebAssembly, mamy też Ooui oraz Uno, a wszystko to oparte na Mono.
                                        Czyli .NET w przeglądarce i WebAssembly w pigułce.
                                    </p>
                                    <p class="text-muted text-spaced-top">
                                        <a href="https://www.meetup.com/%C5%9Al%C4%85ska-Grupa-Microsoft-Meetup/events/258788053/"><b>2019-02-26</b>; Śląska Grupa Microsoft:<br/> ŚGMS#22: Organizatorzy na Dwulecie. Q#, WebAssemby & Toyota</a>
                                    </p>
                                    <p class="text-muted text-spaced-top">
                                        <a href="http://dotnetconf.pl/Agenda"><b>2018-11-17</b>; DotNet Conf PL</a><br/>
                                        <a href="https://youtu.be/kAGZDaxVSvY"><i class="fab fa-youtube"></i> Nagranie</a>
                                    </p>
                                    <p class="text-muted text-spaced-top">
                                        <a href="https://katowice.4developers.org.pl/bio.html#id=35394"><b>2018-11-06</b>; 4 Developers Katowice</a><br/>
                                        <a href="https://www.youtube.com/watch?v=kTZHbKHNRUY"><i class="fab fa-youtube"></i> Nagranie</a>
                                    </p>
                                    <p class="text-muted text-spaced-top">
                                        <a href="https://www.slideshare.net/FedraJL/webassembly-and-net"><i class="fas fa-file-powerpoint"></i> Slide Share</a>
                                    </p>                                   
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/speaking/devops.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Just a bit about DevOps on VSTS</h4>
                                    <h5>2017-11-02 ŚGMS #7</h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted text-spaced-top">
                                        O DevOpsie z wykorzystaniem&nbsp;VSTSa.
                                    </br> O co cały szum ostatnimi czasy, nowe słowo 'devops' dlaczego programista powinien wiedzieć o co biega i trochę o tym jak 
                                    MS wspiera developerów - trochę nowości, trochę nerwów, trochę dobra.                            
                                    </p>
                                    <p class="text-muted text-spaced-top">
                                        <a href="https://www.meetup.com/%C5%9Al%C4%85ska-Grupa-Microsoft-Meetup/events/244374171/"><b>2017-11-02</b>; Śląska Grupa Microsoft: VII Spotkanie</a>
                                    </p>
                                    <p class="text-muted">
                                        <a href="https://www.youtube.com/watch?v=XwHqPiRUBi4&t=678s"><i class="fab fa-youtube"></i> Nagranie</a>
                                    </p>
                                    <p class="text-muted">
                                        <a href="https://www.slideshare.net/slideshow/embed_code/key/uaWGvWn01WAChs"><i class="fas fa-file-powerpoint"></i> Slide Share</a>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <!-- <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </section>